* {
  font-size: 1.5rem;
  box-sizing: border-box;
  overflow: hidden;
  font-family: helvetica, arial;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  background-color: #fee1f6;
}
.viewport {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.gameContainer {
  height: 90%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.gameTitle {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  background: -webkit-linear-gradient(#ff90f8, #7593f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  letter-spacing: 0.75ch;
  text-shadow: 4px 2px 7px rgba(0, 0, 0, 0.1);
}
.gameGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  min-height: 70%;
  min-width: 100%;
  padding: 0rem 2rem;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  border: 2px solid white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: -webkit-linear-gradient(#dd1ed0, #7593f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gameControls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.gameResults {
  width: 100%;
  padding: 0.5rem 0rem;
  text-align: center;
}
.newGame {
  width: 33%;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #4a89f5, #fd46c9);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  letter-spacing: 1ch;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.newGame:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}
@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #f8a4e1;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}
